body, html{
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	max-height: 100%;
	height: auto !important;
	color: #333;
	position: unset !important;
}

h1{
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	padding: 5px 0;
}

h2 {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 1.25em;
	font-weight: 600;
	text-transform: uppercase;
}

h4 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 1.125em;
	line-height: 24px;
	font-weight: 600;
}

h5 {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #676770;
	font-size: 1.125em;
	font-weight: 300;
	text-transform: uppercase;
}

h6 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 0.75em;
	line-height: 18px;
	font-weight: 700;
}

p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
}

ul{
	padding: 0px;
	margin: 0px;
}

a, a:hover{
	color: inherit;
}

figure{
	margin: 0px;
	padding: 0px;
}

section{
	overflow: hidden;
}
/*FIM DO RESET*/

/*VARIABLES*/
.title-section{
	font-size: 40px;
	margin-bottom: 0px;
}

.color-01{
	color: #333;
}

.color-02{
	color: #fcee21;
}

.listcheck{
	columns: 1;
}

.listcheck li{
	list-style: none;
	margin-bottom: 10px;
	margin-left: 30px;
}

.listcheck li:before{
	font-family: FontAwesome;
	content: "\f00c";
	margin-left: -30px;
	margin-right: 10px;
	color: #7ec700;
}

.check-success li:before{
	color: #28a745!important;
}

.check-white li:before{
	color: white!important;
}

.bg-black-50{
	background-color: rgba(0,0,0,0.5);
}

.bg-black{
	background-color: rgba(0,0,0,1);
}

.bg-true-black .navbar-toggler{
	color: white !important;
}

.text-small{
	font-size: 10px;
}

.font-300{
	font-weight: 300;
}

.font-700{
	font-weight: 700;
}

.font-800{
	font-weight: 800;
}

.font-900{
	font-weight: 900;
}

.disable-item{
	color: rgba(0,0,0,0.3);
}

.border-black-20{
	border-color: rgba(0,0,0,0.2) !important;
}

.border-white-20{
	border-color: rgba(255,255,255,0.2) !important;
}

/*FIX ISSUE MODAL IOS*/
@media (max-width: 480px) {

        .modal {
            height: 500px; /* Set a default max height of the modal (adjusted later)*/
            position: fixed; /* Display modal in the centre of your screen */
            overflow-y: scroll; /*  Ensure that the modal is scroll-able */
            -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */
        }
        .modal.fade.in{
            top: 5px; /* Use more screen real estate */
        }
        .modal-body{
            /* Increase the max height of the modal body to try & avoid both it,
             * and the modal container having scroll bars which results in odd behavior */ 
            max-height: 2400px; 
        }   
    }

    /* Now adjust the height so it handles various screen sizes & orientations */
    /* You could make this as granular as you like, or have it more granular at common screen sizes
     * but it should start at the height we set on .modal (i.e. 500px) & work down */
    @media (max-width: 480px) and (max-height: 500px){.modal{ height: 450px}}
    @media (max-width: 480px) and (max-height: 450px){.modal{ height: 400px}}
    @media (max-width: 480px) and (max-height: 400px){.modal{ height: 350px}}
    @media (max-width: 480px) and (max-height: 350px){.modal{ height: 300px}}
    @media (max-width: 480px) and (max-height: 300px){.modal{ height: 250px}}
    @media (max-width: 480px) and (max-height: 250px){.modal{ height: 200px}}
    @media (max-width: 480px) and (max-height: 200px){.modal{ height: 150px}}

